
<h1><%= @article.title %><%= link_to "🖊", edit_article_path %> <span><%= link_to "🗑", article_path(@article), data: {turbo_method: :delete, turbo_confirm: "Are you sure?"}%> </span></h1>
<p><%= @article.content %></p>

<br>
